@font-face {  
    font-family: "pharmacy";  
    src: url( pharmacy.eot ); /* IE */  
    src: local("pharmacy"), url("pharmacy.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "keepcalm";  
    src: url( keepcalm.eot ); /* IE */  
    src: local("keepcalm"), url("keepcalm.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "myriad";  
    src: url( myriad.eot ); /* IE */  
    src: local("myriad"), url("myriad.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "myriadbold";  
    src: url( myriadbold.eot ); /* IE */  
    src: local("myriadbold"), url("myriadbold.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "calibri";  
    src: url( calibri.eot ); /* IE */  
    src: local("calibri"), url("calibri.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "calibribold";  
    src: url( calibribold.eot ); /* IE */  
    src: local("calibribold"), url("calibribold.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "orange";  
    src: url( orange.eot ); /* IE */  
    src: local("orange"), url("orange.ttf") format("truetype"); /*non-IE*/  
}

@font-face {  
    font-family: "phosphate";  
    src: url( phospate.eot ); /* IE */  
    src: local("phospate"), url("phospate.ttf") format("truetype"); /*non-IE*/  
}